html {
  width:100%;
  height:100%;
}
body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.modal {
  position: fixed;
  height: 90%;
  right: 0;
  /* top: 0; */
  top: 10%;
  z-index: 3;
  width: 100%;
  visibility: hidden;
  opacity:0;
  -webkit-transition:opacity 0.4s linear;
  -moz-transition:opacity 0.4s linear;
  -ms-transition:opacity 0.4s linear;
  -o-transition:opacity 0.4s linear;
  transition:opacity 0.4s linear;
}
.modal.show {
  visibility: visible;
  opacity:1;
}

.valign-table {
  display: table;
  table-layout: fixed;
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}

.lower-left{
  position: absolute;
  bottom: 10px;
  padding: 5px;
  background-color: white;
  z-index: 4;
}

.transparent-button {
  background-color: transparent;
  border: none; 
  color: red;
}

#qr-code {
  position: absolute;
  bottom: 10px;
  right: 10px; 
  width: 80px;
  height: 80px; 
  z-index: 4;
}

#monkey {
  position: absolute;
  width: 250px;
  height: 400px;
  z-index: 4;
  bottom: 40px;
  left: -80px;
}

@media (max-width: 767px) {
  #monkey {
    width: 200px;
    height: 200px;
    left: -45px;
    bottom: 35px;
  }
}

#video-container {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

#webcam {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

#memory--app-container {
  position: relative; 
  /* background-color: #0061a8; */
  width: 100%;
  height: 90%;
  overflow: hidden; 

  background-image: url('./../images/kids-wallpaper.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
}

.memory--menu-bar {
  width:100%;
  /* background-color: #222; */
  background-image: url('./../images/natural-wood-header.jpg');
  height:10%;
  display:table;
}

.memory--menu-bar .inner {
  display:table-cell;
  vertical-align:middle;
}
.memory--menu-bar .left {
  text-align: left;
  float:left;
  width:80%;
}
.memory--menu-bar .right {
  text-align: right;
  float:right;
  width:20%;
}

@font-face {
  font-family: 'samurai'; 
  src: url('../assets/fonts/SamuraiBlast-8MnyD.otf') format('opentype');
  font-weight: normal; /* or bold if your font is bold */
  font-style: normal; /* or italic if your font is italic */
}

.memory--app-name {
  /* color:#ccc; */
  color: white;
  font-size:26px;
  margin:0;
  /* padding:1px 4px; */
  padding: 10px 12px;
  text-transform: uppercase;
  font-family: "samurai";
  letter-spacing: 2px;
  text-shadow: 2px 2px black,
               3px 3px black,
               4px 4px black,
               5px 5px black;
}
@media screen and (max-width: 480px) {
  .memory--app-name {
    font-size:20px;
  }
}

#memory--settings-icon {
  height: 24px;
  display: block;
  padding:4px 8px;
  float: right;
}

#memory--end-game-modal .wrapper {
  background-color: rgba(0, 0, 0, .86);
  text-align: center;
  color:#ccc;
  padding:8px 0;
}
#memory--end-game-modal h2,
#memory--end-game-modal h3 {
  margin:0;
  margin-bottom: 4px;
}

#memory--settings-modal {
 /* background-color: rgba(0, 0, 0, .86);  */
  background-image: url('./../images/kids-wallpaper.jpg');
  background-size: cover; /* Adjust background image size as needed */
  background-repeat: no-repeat;
  
}
#memory--settings-modal form {
  min-width:240px;
  width:50%;
  margin:0 auto;
  text-align: center;
  color:#ccc;
}

.memory--settings-label {
  margin:8px 0;
}

#memory--settings-grid,
#memory--settings-reset {
  width:100%;
  margin-bottom:16px;
  font-size:18px;
  /* background:transparent;
  color:#ccc; */
  background: white;
  color: black;
  height:50px;
  text-align: center;
  font-family: 'samurai';
  animation: heartbeat 1.5s infinite;
}

#memory--settings-tutorial {
  width:100%;
  margin-bottom:16px;
  font-size:18px;
  background: white;
  color: black;
  height:50px;
  text-align: center;
  font-family: 'samurai';
  border-radius:5px;
  border:2px solid #ccc;
  cursor: pointer;
}
#memory--settings-grid option {
  padding-top:5px;
  padding-bottom:5px;
}

#memory--settings-reset {
  border-radius:5px;
  border:2px solid #ccc;
  cursor: pointer;
}

#memory--cards {
  margin:0 auto;
  padding:0;
  height:100%;
  list-style-type: none;
  list-style-image: none;
  position:relative;
}
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  float:left;
}

/* flip the pane when clicked */
.flip-container.clicked .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-container.clicked .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* flip speed goes here */
.flipper {
  width:90%;
  height:90%;
  margin:0% auto;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  top:5%;
  bottom:5%;
}

/* hide back of pane during swap */
.front, .back {
  width:100%;
  height:100%;
  display: block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  /* background-color: #e12d00; */
  border-radius: 5%;
  background-image: url(../images/aztec-cards.jpeg);
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  /* background-color: #fff; */
  background-color: transparent;
  border-radius: 5%;
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#timer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  color: red;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

#level {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  color: red;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

#toggle-camera {
  padding: 5px;
  background-color:transparent; /* Change the background color as desired */
  color: #fff; /* Text color */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  z-index: 6;
}

#toggle-camera:hover {
  background-color: #2980b9; /* Change the hover background color */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.try-again{
  display: none;
  height: 40px;
  width: 200px;
  border-radius: 50px;
  animation: heartbeat 1.5s infinite;
}

.back.card-1 {
  background-image: url(../images/fruits/apple.gif);
}
.back.card-2 {
  background-image: url(../images/fruits/fig.gif);
}
.back.card-3 {
  background-image: url(../images/fruits/grape.gif);
}
.back.card-4 {
  background-image: url(../images/fruits/kiwi.gif);
}
.back.card-5 {
  background-image: url(../images/fruits/lemon.gif);
}
.back.card-6 {
  background-image: url(../images/fruits/lime.gif);
}
.back.card-7 {
  background-image: url(../images/fruits/mango.gif);
}
.back.card-8 {
  background-image: url(../images/fruits/melon.gif);
}
.back.card-9 {
  background-image: url(../images/fruits/orange.gif);
}
.back.card-10 {
  background-image: url(../images/fruits/peach.gif);
}
.back.card-11 {
  background-image: url(../images/fruits/pear.gif);
}
.back.card-12 {
  background-image: url(../images/fruits/pinapple.gif);
}
.back.card-13 {
  background-image: url(../images/fruits/plum.gif);
}
.back.card-14 {
  background-image: url(../images/fruits/raspberry.gif);
}
.back.card-15 {
  background-image: url(../images/fruits/strawberry.gif);
}

.back.card-16 {
  background-image: url(../images/animal/Bear.gif);
}
.back.card-17 {
  background-image: url(../images/animal/Cat.gif);
}
.back.card-18 {
  background-image: url(../images/animal/Cow.gif);
}
.back.card-19 {
  background-image: url(../images/animal/Dog.gif);
}
.back.card-20 {
  background-image: url(../images/animal/Elephant.gif);
}
.back.card-21 {
  background-image: url(../images/animal/Horse.gif);
}
.back.card-22 {
  background-image: url(../images/animal/Pig.gif);
}
.back.card-23 {
  background-image: url(../images/animal/Rabbit.gif);
}
.back.card-24 {
  background-image: url(../images/animal/Zebra.gif);
}
.back.card-25 {
  background-image: url(../images/donut/donut1.gif);
}
.back.card-26 {
  background-image: url(../images/donut/donut2.gif);
}
.back.card-27 {
  background-image: url(../images/donut/donut3.gif);
}
.back.card-28 {
  background-image: url(../images/donut/donut4.gif);
}
.back.card-29 {
  background-image: url(../images/donut/donut5.gif);
}
.back.card-30 {
  background-image: url(../images/donut/donut6.gif);
}

.modal-splash {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

#modal-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media screen and (max-width: 480px) {
  #modal-video {
    object-fit: cover;
  }
}

/* Define the bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-10px);
  }
}

/* Define the heartbeat animation */
@keyframes heartbeat {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes heartbeat2
{
  0%
  {
    transform: scale( .90 );
  }
  40%
  {
    transform: scale( 1.1 );
  }
  80%
  {
    transform: scale( .90 );
  }
  100%
  {
    transform: scale( 1 );
  }
}

#drawing_canvas {
  position: absolute;
  margin: auto;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @media (max-width: 512px) {
    width: 100%;
    height: auto;
  }
}

#snowContainer{width: 100%; height: 300px; background-color: black; overflow: hidden; position: relative;}
.snowExample{position: absolute; top: -450px; opacity: .5; text-align: center;
animation: SnowExampleSlide ease-in infinite;
-webkit-animation: SnowExampleSlide ease-in infinite;
-moz-animation: SnowExampleSlide ease-in infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
@keyframes SnowExampleSlide {from {position: absolute; top: -450px;} to {position: absolute; top: 633px;}}
@-webkit-keyframes SnowExampleSlide {from {position: absolute; top: -450px;} to {position: absolute; top: 633px;}}
@-moz-keyframes SnowExampleSlide {from {position: absolute; top: -450px;} to {position: absolute; top: 633px;}}

#banana_canvas{
  display:none;
}
/* .flower{
  width:15px;
  height:15px;
  border-radius:50%;
  z-index:1;
  position:absolute;
  top:-20%;
} */
.petal{
  width:15px;
  height:15px;
  border-radius:50%;
  z-index:-1;
}
.petal1{
  position:relative;
  left:-70%; top:20%;
}
.petal2{
  position:relative;
  top:-18%; left:-5%;
}
.petal3{
  position:relative;
  top:-170%; left:72%;
}
.petal4{
  position:relative;
  top:-363%; left:-30%;
}
.petal5{
  position:relative;
  top:-450%; left:53%;
}

#flower1{
  background-color:unset;
  position:absolute;
  left:8%;
  animation-name:rain;
  animation-duration:5s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.f1p{
  background-color:pink;
}

#flower2{
  background-color:unset;
  position:absolute;
  left:25%;
  animation-name:rain;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-delay:1.5s;
}
.f2p{
  background-color:yellow;
}
#flower3{
  background-color:unset;
  position:absolute;
  left:42%;
  animation-name:rain;
  animation-duration:8s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-delay:0s;
}
.f3p{
  background-color:skyblue;
}
#flower4{
  background-color:unset;
  position:absolute;
  left:59%;
  animation-name:rain;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-delay:1.25s;
}
.f4p{
  background-color:blue;
}

#flower5{
  background-color:unset;
  position:absolute;
  left:75%;
  animation-name:rain;
  animation-duration:6s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-out;
  animation-delay:.75s;
}
.f5p{
  background-color:lightgreen;
}

#flower6{
  background-color:unset;
  position:absolute;
  left:90%;
  animation-name:rain;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in;
  animation-delay:0.25s;
}
.f6p{
  background-color:turquoise;
}
@keyframes rain{
  0%{transform:rotate(0deg);
     top:-10%;
  }
  100%{transform:rotate(720deg);
       top:100vh;
  }
}

.banana{
  width: 50px;
}


/** Matching Cards **/
/**
 * If you wish to have custom matching images, you can do so
 * by leveraging the 'matching' class which is added to one
 * of the matching cards. See the example below.
 *
 * .back.card-1 {
 *   background-image: url(../images/fruits/apple_1.jpg);
 * }
 *
 * .back.matching.card-1 {
 *   background-image: url(../images/fruits/apple_2.jpg);
 * }
 *
 */
